.actions{

    display: inline-block;
}

 .details { 
     
     display: inline;
     font-weight: 500; 
     color: #2196f3;
     cursor: pointer;
     margin-right: 5px;
     font-size: 10px;
     border:2px solid #2196f3;
     padding: 3px;

     
}

.details:hover{
    
    background-color: rgb(215, 214, 214);
}
 
